<div class="experience-content">
    <h2>Professional Experience</h2>
    <div class="timeline-item" hx-get="#" hx-swap="none" onclick="toggleExperienceDetails(this)">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
            <div class="timeline-header">
                <h3>Research Assistant</h3>
                <span class="company">Syracuse University</span>
                <span class="date"> May 2024 - Aug 2024</span>
            </div>
            <div class="timeline-summary">
                <p>Contributed to Multi-Agent Reinforcement Learning (MARL) research and explainable AI systems.</p>
            </div>
            <div class="timeline-details hidden">
                <ul>
                    <li>Implemented and evaluated algorithms such as TarMAC, BAMS, and a novel algorithm on SMAC-Starcraft II, achieving more than 87% accuracy.</li>
                    <li>Performed exhaustive analysis of communication protocols, enabling explainable MARL systems, contributing to a potential publication.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="timeline">
        <div class="timeline-item" hx-get="#" hx-swap="none" onclick="toggleExperienceDetails(this)">
            <div class="timeline-marker"></div>
            <div class="timeline-content">
                <div class="timeline-header">
                    <h3>Software Engineer</h3>
                    <span class="company">Indian Space Research Organization (ISRO)</span>
                    <span class="date">Jan 2021 - Jul 2022</span>
                </div>
                <div class="timeline-summary">
                    <p>Developed scalable data ingestion platforms and real-time monitoring systems.</p>
                </div>
                <div class="timeline-details hidden">
                    <ul>
                        <li>Developed and optimized TAPAS: Led the development and optimization of TAPAS, a scalable data ingestion platform built with Kafka and Golang. This platform enabled real-time data flow from satellite antennas to 15 internal tools across five teams, with RBAC-based access control to ensure secure and efficient data management across the organization.</li>
                        <li>Built a self-service CI/CD platform: Designed and implemented a self-service CI/CD pipeline using Kubernetes, Git, Proxmox, and Calico. This solution facilitated Agile development by enabling on-demand scaling, automating deployments, and enforcing standardized security practices, leading to faster development cycles and enhanced deployment efficiency.</li>
                        <li>Developed SAT EYE - Real-Time Satellite Monitoring with Anomaly Detection: Contributed to the development of SAT EYE, a real-time ML-based satellite monitoring system using Django, Flask, and Dash. The system enabled continuous anomaly detection and monitoring of 70 satellite parameters, reducing the workload of domain experts by 40% and significantly improving system reliability and customer satisfaction.</li>
                        <li>Researched and designed a novel transformer architecture for anomaly detection: Conducted research and designed a novel transformer architecture combined with contrastive learning to enhance the real-time monitoring of 65 satellite parameters. This innovation led to a 20% reduction in missed anomalies, especially for high-impact, low-frequency events, greatly improving the monitoring system’s accuracy and performance.</li>
                        <li>Designed and implemented a scalable CCTV data processing pipeline: Led the design and implementation of a CCTV data processing pipeline using Kafka, Go, and Django, capable of managing and processing over 3TB of CCTV data daily. This pipeline ensured real-time data ingestion, 24/7 monitoring of sensitive zones, and optimized data storage and retrieval, enhancing security operations across the organization.</li>
                        <li>Developed a forecasting and ML based anomaly detection framework: Developed a framework for parameter forecasting and anomaly detection using Bayesian estimates, advanced forecasting techniques, and unsupervised clustering. This solution streamlined processes, saving 40 hours per week for domain experts and enabling more accurate and timely anomaly detection.</li>
                        <li>Contributed to the development of an autonomous CCTV monitoring system: Worked with cross-functional teams (CCTV, DevOps, and security) to design and deploy an autonomous CCTV monitoring system for high-security rooms. By implementing Haarcascade for high-visibility areas and a custom CNN for low-visibility areas, we reduced the workforce requirements by 60%, increasing the efficiency and effectiveness of security operations.</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="timeline-item" hx-get="#" hx-swap="none" onclick="toggleExperienceDetails(this)">
            <div class="timeline-marker"></div>
            <div class="timeline-content">
                <div class="timeline-header">
                    <h3>Software Engineer</h3>
                    <span class="company">Blinx AI</span>
                    <span class="date">Aug 2020 - Dec 2020</span>
                </div>
                <div class="timeline-summary">
                    <p>Built and optimized data lakes and dashboards for real-time data processing and analytics.</p>
                </div>
                <div class="timeline-details hidden">
                    <ul>
                        <li>Built a high-performance, microservice-based data lake (Kafka/Docker/Go) with dynamic pub-sub architecture and integrated Apache Cassandra for scalable, low-latency storage, achieving 20% faster processing and 18% latency reduction.</li>
                        <li>Designed and deployed an analytics-focused Flask dashboard, providing detailed, real-time visualizations of key performance metrics, enabling teams to quickly identify trends, uncover insights, and optimize data-driven strategies.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
