<div class="experience-content">
    <h2>Professional Experience</h2>
            <div class="timeline-item" hx-get="#" hx-swap="none" onclick="toggleExperienceDetails(this)">
            <div class="timeline-marker"></div>
            <div class="timeline-content">
                <div class="timeline-header">
                    <h3>Research Assistant</h3>
                    <span class="company">Syracuse University</span>
                    <span class="date"> May 2024 - Aug 2024</span>
                </div>
                <div class="timeline-summary">
                    <p>Contributed to Multi-Agent Reinforcement Learning (MARL) research and explainable AI systems.</p>
                </div>
                <div class="timeline-details hidden">
                    <ul>
                        <li>Implemented and evaluated algorithms such as TarMAC, BAMS, and a novel algorithm on SMAC-Starcraft II, achieving more than 87% accuracy.</li>
                        <li>Performed exhaustive analysis of communication protocols, enabling explainable MARL systems, contributing to a potential publication.</li>
                    </ul>
                </div>
            </div>
        </div>
    <div class="timeline">
        <div class="timeline-item" hx-get="#" hx-swap="none" onclick="toggleExperienceDetails(this)">
            <div class="timeline-marker"></div>
            <div class="timeline-content">
                <div class="timeline-header">
                    <h3>Software Engineer</h3>
                    <span class="company">Indian Space Research Organization (ISRO)</span>
                    <span class="date">Jan 2021 - Jul 2022</span>
                </div>
                <div class="timeline-summary">
                    <p>Developed scalable data ingestion platforms and real-time monitoring systems.</p>
                </div>
                <div class="timeline-details hidden">
                    <ul>
                        <li>Developed and optimized TAPAS, a scalable data ingestion platform using Kafka and Golang, enabling real-time data flow from satellite antennas to 15 internal tools across 5 teams with RBAC-based access control.</li>
                        <li>Built a self-service CI/CD platform leveraging Kubernetes, Git, Proxmox, and Calico, facilitating Agile development with on-demand scaling, automated deployments, and standardized security practices.</li>
                        <li>Designed and implemented a scalable CCTV data processing pipeline using Kafka, Go, and Django to manage and process 3TB of daily CCTV data, ensuring real-time data ingestion, 24/7 monitoring of sensitive zones, and efficient data storage and retrieval.</li>
                        <li>Developed SAT EYE, a real-time ML-based satellite monitoring system using Django, Flask, and Dash, enabling anomaly detection and monitoring of 70 satellite parameters, reducing domain expert workload by 40%, improving customer satisfaction and reliability.</li>
                        <li>Developed a novel framework for parameter forecasting and anomaly detection using Bayesian estimates, advanced forecasting techniques, and unsupervised clustering, streamlining processes and saving 40 hours/week of domain expert time.</li>
                        <li>Researched and designed a novel transformer architecture combined with contrastive learning to monitor 65 satellite parameters, resulting in a 20% reduction in high-impact, low-frequency missed anomalies.</li>
                        <li>Contributed to the development and deployment of an autonomous CCTV monitoring system for high-security rooms, collaborating with CCTV, DevOps, and security teams to implement Haarcascade for high-visibility and a custom CNN for low-visibility areas, reducing workforce requirements by 60%.</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="timeline-item" hx-get="#" hx-swap="none" onclick="toggleExperienceDetails(this)">
            <div class="timeline-marker"></div>
            <div class="timeline-content">
                <div class="timeline-header">
                    <h3>Software Engineer</h3>
                    <span class="company">Blinx AI</span>
                    <span class="date">Aug 2020 - Dec 2020</span>
                </div>
                <div class="timeline-summary">
                    <p>Built and optimized data lakes and dashboards for real-time data processing and analytics.</p>
                </div>
                <div class="timeline-details hidden">
                    <ul>
                        <li>Built a high-performance, microservice-based data lake (Kafka/Docker/Go) with dynamic pub-sub architecture and integrated Apache Cassandra for scalable, low-latency storage, achieving 20% faster processing and 18% latency reduction.</li>
                        <li>Designed and deployed an analytics-focused Flask dashboard, providing detailed, real-time visualizations of key performance metrics, enabling teams to quickly identify trends, uncover insights, and optimize data-driven strategies.</li>
                    </ul>
                </div>
            </div>
        </div>
        

    </div>
</div>

